/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Test TableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
	cell-content-style-class: Green;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-content-style-tag: none;
}

mcTableHeadStyle
{
	span: 1;
	id: 4;
	name: Header2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Test_TableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Test_TableStyle-Column-Column1
{
	
}

.TableStyle-Test_TableStyle-Head-Header1
{
	
}

.TableStyle-Test_TableStyle-HeadI-Column1-Header1
{
	
}

.TableStyle-Test_TableStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_TableStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_TableStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_TableStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadC-Column1-Header1
{
	
}

.TableStyle-Test_TableStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadA-Column1-Header1
{
	
}

.TableStyle-Test_TableStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-HeadG-Column1-Header1
{
	
}

.TableStyle-Test_TableStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Test_TableStyle-Head-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadI-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadI-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadE-Column1-Header2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-HeadE-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadF-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadF-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadH-Column1-Header2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-HeadH-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadD-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadD-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadC-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadC-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadB-Column1-Header2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-HeadB-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadA-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadA-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-HeadG-Column1-Header2
{
	
}

.TableStyle-Test_TableStyle-HeadG-Column1-Header2 p
{
	
}

.TableStyle-Test_TableStyle-Foot-Footer1
{
	
}

.TableStyle-Test_TableStyle-FootI-Column1-Footer1
{
	
}

.TableStyle-Test_TableStyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_TableStyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_TableStyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_TableStyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootC-Column1-Footer1
{
	
}

.TableStyle-Test_TableStyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootA-Column1-Footer1
{
	
}

.TableStyle-Test_TableStyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-FootG-Column1-Footer1
{
	
}

.TableStyle-Test_TableStyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Test_TableStyle-Body-Body1
{
	
}

.TableStyle-Test_TableStyle-BodyI-Column1-Body1
{
	
}

.TableStyle-Test_TableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_TableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_TableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyC-Column1-Body1
{
	
}

.TableStyle-Test_TableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_TableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyA-Column1-Body1
{
	
}

.TableStyle-Test_TableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Test_TableStyle-BodyG-Column1-Body1
{
	
}

.TableStyle-Test_TableStyle-BodyG-Column1-Body1 p
{
	
}


